@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
body{
    background-color:#270000;
    margin: 0px;
    padding: 0px;
}

.text1{
    background-image: url(../images/patligjan.png);
    background-repeat: no-repeat;
    background-size:contain;
    padding:0%;
    margin:0px;
    color:white;
}
.logoimg{
    width: 20%;
    height: 20%;
    padding: 5% 0% 0% 5%;
}
.text1>h1{
    font-size:100px;
    color: #e4ab26;
    margin: 0px;
    font-family: lugrasimo;
}
.text1>h3{
    font-size:20px;
    color: #e4ab26;
    margin:0px 0px 0px 10px;
    font-family: lugrasimo;
}
 /*  */
.menutext1{
    padding-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d0000;
    color:#cf9f33;
    margin-top: 20%;
}
.menutext2{
    padding-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d0000;
    color:#cf9f33;
    margin-top: 0%;
  }
  /*  */
  /*  */


/* Footer */
/*  */
footer {
    background-color: #300000;
    color: #fff;
    padding: 20px 0px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    margin-left:150px;
  }
  
  .footer-section {
    flex: 1;
    text-align: left;
    margin-right: 20px;
  }
  
  .footer-section h2 {
    color: #fff;
    font-size: 1.2rem;
  }
  
  .social-icons img {
    width: 60px;
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
  }
  .cardf{
    width:40px;
  }
