.menubody{
  background-image: url(../images/productmenubackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.productgriddiv {
  display: grid;
  /* gridTemplateColumns is inline in your component */
  gap: 20px;
  align-items: stretch; /* ensures all grid items stretch to same height */
}
/* Adjust padding and font-size by column count */
.productdiv {
  border:8px solid #e4ab26;
  background-color:#1e1f20 ;
  border-radius: 50px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
}

.image-wrapper {
  width: 100%;
  height: 350px; /* fixed height, adjust as needed */
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.productimg {
  border-radius: 4px;
  object-fit: contain; /* no cropping */
  display: block;
  margin: 0 auto 10px;
}
.productname {
  font-size: 1.2rem;
  color: #e4ab26;
  margin: 10px 0;
}
.productprice {
  font-size: 1.5rem;
  color: #e4ab26;
  margin: 10px 0;
}
/* Adjust padding and font-size by column count */
.columns-6 {
  padding: 10px;
  font-size: 0.9rem;
}
.columns-5 {
  padding: 15px;
  font-size: 1rem;
}
.columns-4 {
  padding: 20px;
  font-size: 1.1rem;
}
.columns-3,
.columns-2,
.columns-1 {
  padding: 25px;
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .image-wrapper {
    height: 150px;
  }
}